# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
npm-debug.log
package.json
package-lock.json
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/jsLibraryMappings.xml
.idea/emoji-search.iml
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
