.component-emoji-result-row {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  height: 32px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  background: linear-gradient(to right, #1e5799 0%,#207cca 27%,#207cca 27%,#207cca 32%,#207cca 41%,#2989d8 63%,#2989d8 63%,#2989d8 71%,#2989d8 71%,#7db9e8 100%);
}

.component-emoji-result-row:hover {
  background: linear-gradient(to right, #a90329 0%,#8f0222 44%,#6d0019 100%);
}

.component-emoji-result-row img {
  width: 32px;
  height: 32px;
  padding-right: 10px;
}

.component-emoji-result-row .title {
  position: relative;
  top: -8px;
}

.component-emoji-result-row .info {
  float: right;
  position: relative;
  top: 8px;
  right: 10px;
  color: white;
  display: none;
}

.component-emoji-result-row:hover .info {
  display: inline-block;
}
