.images {
  padding-bottom: 20px;
  position: relative;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #1e5799 0%,#207cca 27%,#207cca 27%,#207cca 32%,#207cca 41%,#2989d8 63%,#2989d8 63%,#2989d8 71%,#2989d8 71%,#7db9e8 100%);
}

.card img {
  position: relative;
  width: 400px;
  height: 300px;
}

.jumbotron {
  margin-bottom: 20px;
}

.card-text {
  margin: 0px;
  color: black;
}