.component-header {
  padding: 15px;
  position: relative;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  text-align: center;
  color: #333;
}

.component-header img {
  position: relative;
  top: 6px;
  padding: 0 14px;
}
